<h1>  <%= @player_1.name %> vs <%= @player_2.name %>  </h1>

<h2>  <%= @player_1.name %>: <%= @player_1.hit_points %>HP   </h2>

<h2> <%= @player_2.name %>: <%= @player_2.hit_points %>HP  </h2>

<form method="get" action="/attack">
  <button type="submit">Attack</button>
</form>
